<section class="section" id="home" style="padding-bottom: 0px !important;" >
    <img src="assets/images/shop-slider-01.jpg" alt="" srcset="">
</section>

   <section class="section bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="text-center pricing-box">
                    <h4 class="text-uppercase">QUALITY </h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="text-center pricing-box bg-white">
                    <h4 class="text-uppercase">AFFORDABLE </h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="text-center pricing-box">
                    <h4 class="text-uppercase">DEPENDABLE </h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="text-center pricing-box bg-white ">
                    <h4 class="text-uppercase"> RELIABLE </h4>
                </div>
            </div>
        </div>
    </div>
  </section>
   
   <section class="section" id="about">
       <div class="container">
           <div class="row">
                   <div class="col-lg-3">
                    <div class="product-card">
                        <div class="badge">Hot</div>
                        <div class="product-tumb">
                            <img src="assets/images/products/product-1.jpg" alt="">
                        </div>
                        <div class="product-details">
                            <h5><a href="">Electric Toothbrush Kit</a></h5>
                            <div class="product-bottom-details">
                                <div class="product-price">
                                    <small>$96.00</small>
                                    $230.99</div>
                                <div class="product-links">
                                    <a href=""><i class="fa fa-heart fa-2x"></i></a>
                                    <a href=""><i class="fa fa-shopping-cart fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                   </div>
                   <div class="col-lg-3">
                    <div class="product-card">
                        <div class="badge">Hot</div>
                        <div class="product-tumb">
                            <img src="assets/images/products/product-6.jpg" alt="">
                        </div>
                        <div class="product-details">
                            <h5><a href="">Oral Care System</a></h5>
                            <div class="product-bottom-details">
                                <div class="product-price">
                                    <small>$96.00</small>
                                    $230.99</div>
                                <div class="product-links">
                                    <a href=""><i class="fa fa-heart fa-2x"></i></a>
                                    <a href=""><i class="fa fa-shopping-cart fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                   </div>
                   <div class="col-lg-3">
                    <div class="product-card">
                        <div class="badge">Hot</div>
                        <div class="product-tumb">
                            <img src="assets/images/products/product-7.jpg" alt="">
                        </div>
                        <div class="product-details">
                            <h5><a href="">Multi-Protection Mouthwash</a></h5>
                            <div class="product-bottom-details">
                                <div class="product-price">
                                    <small>$96.00</small>
                                    $230.99</div>
                                <div class="product-links">
                                    <a href=""><i class="fa fa-heart fa-2x"></i></a>
                                    <a href=""><i class="fa fa-shopping-cart fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                   </div>
                   <div class="col-lg-3">
                    <div class="product-card">
                        <div class="badge">Hot</div>
                        <div class="product-tumb">
                            <img src="assets/images/products/product-1.jpg" alt="">
                        </div>
                        <div class="product-details">
                            <h5><a href="">Electric Toothbrush Kit</a></h5>
                            <div class="product-bottom-details">
                                <div class="product-price">
                                    <small>$96.00</small>
                                    $230.99</div>
                                <div class="product-links">
                                    <a href=""><i class="fa fa-heart fa-2x"></i></a>
                                    <a href=""><i class="fa fa-shopping-cart fa-2x"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                   </div>
           </div>
       </div>
    </section>