<section class="section" id="services">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2 margin-t-50">
              <h1 class="section-title text-center">SHOP PAGE</h1>
              <div class="section-title-border margin-t-20"></div>
              <p class="section-subtitle text-muted text-center padding-t-30 font-secondary">
                Nnuro seeks to be an industry leader in:
              </p>
          </div>
      </div>
  </div>
</section>
<section class="section bg-light" id="pricing">
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h1 class="section-title text-center">Products</h1>
            <div class="section-title-border margin-t-20"></div>
        </div>
    </div>
    <div class="row margin-t-50">
        <div class="col-lg-6">
            <div class="text-center pricing-box">
                <h4 class="text-uppercase">MEMBER SUPPORT</h4>
                <!-- <h1>ICON</h1> -->
                <div class="plan-features margin-t-10">
                  <p>We provide free online tools and training to our members, making them competitive and also introducing them to technological innovations that increase their efficiency. </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="text-center pricing-box bg-white price-active">
                <!-- <div class="ribbon-box"><span>Popular</span></div> -->
                <h4 class="text-uppercase">TRUSTED</h4>
                <!-- <h1>ICON</h1> -->
                <div class="plan-features margin-t-10">
                    <p>Buy with confidence from our trusted suppliers and get the best of products and services. Each pharmaceutical wholesale supplier featured on Nnuro has completed a rigorous vetting process & provides pedigree (track & trace) documentation on each item sold.</p>
                </div>

            </div>
        </div>
    </div>
    <div class="row margin-t-50">
      <div class="col-lg-6">
        <div class="text-center pricing-box">
            <h4 class="text-uppercase">CONVENIENT</h4>
            <!-- <h1>ICON</h1> -->
            <!-- <h6 class="text-uppercase text-muted">Billing Per Month</h6> -->
            <div class="plan-features margin-t-10">
                <p>Shop with ease and have access to great terms and conditions from our suppliers. Each supplier on Nnuro offers convenient payment and delivery terms. Easily access your recent orders and save your favorite products on our easy-to-use platform!</p>

            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="text-center pricing-box">
            <h4 class="text-uppercase">COMPETITIVE RATE</h4>
            <!-- <h1>ICON</h1> -->
            <div class="plan-features margin-t-10">
                <p>Transparency provided allows customers to compare wholesale and retail prices depending on their level of access and allows purchase directly from over 500 trusted suppliers.</p>

            </div>
        </div>
    </div>
    </div>
</div>
</section>
