<section class="section" id="home">
  <div class="row">
    <div class="col-lg-12" style="padding-right: 0 !important;">
      <ngb-carousel
      [showNavigationArrows]="true"
      [showNavigationIndicators]="true"
      interval="12000"
      [keyboard]="true"
      [pauseOnHover]="false"
          [wrap]="true"
          [activeId]="'secondSlide'"
          >
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="assets/images/banner1.jpg" alt="Angular Carousel 1" width="100%">
              </div>
              <div class="carousel-caption">
                <!-- <h3>Slider One Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="assets/images/banner2.jpg"  width="100%" alt="Angular Carousel 2">
              </div>
              <div class="carousel-caption">
                <!-- <h3>Slider Two Title</h3>
                <p>Consectetur tortor volutpat pretium.</p> -->
              </div>
            </ng-template>
        </ngb-carousel>
      </div>
    </div>
 </section>


 <!--<section class="section " id="about">
  <div class="container">
      <div class="row">
          <div class="col-lg-3">
              <div class="product-card">
                  <div class="badge">New</div>
                  <div class="product-tumb">
                      <img src="assets/images/products/product-1.jpg" alt="">
                  </div>
                  <div class="product-details">
                      <h5><a href="">Electric Toothbrush Kit</a></h5>
                      <!-- <div class="product-bottom-details">
                          <div class="product-price">
                              <small>$96.00</small>
                              $230.99</div>
                          <div class="product-links">
                              <a href=""><i class="fa fa-heart fa-2x"></i></a>
                              <a href=""><i class="fa fa-shopping-cart fa-2x"></i></a>
                          </div>
                      </div> 
                  </div>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="product-card">
                  <div class="badge">In-Stock</div>
                  <div class="product-tumb">
                      <img src="assets/images/products/product-6.jpg" alt="">
                  </div>
                  <div class="product-details">
                      <h5><a href="">Oral Care System</a></h5>
                      <!-- <div class="product-bottom-details">
                          <div class="product-price">
                              <small>$96.00</small>
                              $230.99</div>
                          <div class="product-links">
                              <a href=""><i class="fa fa-heart fa-2x"></i></a>
                              <a href=""><i class="fa fa-shopping-cart fa-2x"></i></a>
                          </div>
                      </div> 
                  </div>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="product-card">
                  <div class="badge">In-Stock</div>
                  <div class="product-tumb">
                      <img src="assets/images/products/product-7.jpg" alt="">
                  </div>
                  <div class="product-details">
                      <h5><a href="">Multi-Protection Mouthwash</a></h5>
                      <!-- <div class="product-bottom-details">
                          <div class="product-price">
                              <small>$96.00</small>
                              $230.99</div>
                          <div class="product-links">
                              <a href=""><i class="fa fa-heart fa-2x"></i></a>
                              <a href=""><i class="fa fa-shopping-cart fa-2x"></i></a>
                          </div>
                      </div> 
                  </div>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="product-card">
                  <div class="badge">In-Stock</div>
                  <div class="product-tumb">
                      <img src="assets/images/products/product-1.jpg" alt="">
                  </div>
                  <div class="product-details">
                      <h5><a href="">Electric Toothbrush Kit</a></h5>
                      <!-- <div class="product-bottom-details">
                          <div class="product-price">
                              <small>$96.00</small>
                              $230.99</div>
                          <div class="product-links">
                              <a href=""><i class="fa fa-heart fa-2x"></i></a>
                              <a href=""><i class="fa fa-shopping-cart fa-2x"></i></a>
                          </div>
                      </div> 
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>-->
<app-whychoose></app-whychoose>


<!--
    <section class="section">-->
    <!-- <div class="bg-overlay"></div> -->
  <!--  <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <ngb-carousel
            [showNavigationArrows]="true"
            [showNavigationIndicators]="true"
            interval="11000"
            [keyboard]="true"
            [pauseOnHover]="false"
                [wrap]="true"
                [activeId]="'secondSlide'"
                >
                  <ng-template ngbSlide>
                    <a href="">
                      <div class="picsum-img-wrapper">
                        <img src="assets/images/facemask.jpg" alt="Angular Carousel 1" width="100%">
                      </div>
                      <div class="carousel-caption">-->
                        <!-- <h3>Slider One Title</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                  <!--      </div>
                      </a>-->
               <!--   </ng-template>
                  <ng-template ngbSlide>
                    <a href="">
                      <div class="picsum-img-wrapper">
                        <img src="assets/images/gloves.jpg"  width="100%" alt="Angular Carousel 2">
                      </div>
                      <div class="carousel-caption">-->
                        <!-- <h3>Slider Two Title</h3>
                        <p>Consectetur tortor volutpat pretium.</p> -->
                <!--     </div>
                    </a>
                  </ng-template>
              </ngb-carousel>
          </div>
          <div class="col-lg-4 text-center">
            <section class="cards-wrapper">
              <div class="">
                <a class="new-card" href="https://www.who.int/health-topics/coronavirus#tab=tab_1" style="--bg-img: url(assets/images/covid.jpg)">
                  <div>
                    <h1>COVID-19</h1>
                    <p>Coronavirus disease spreads primarily through contact with an infected person when they cough or sneeze. It also spreads when a person touches a surface or object that has the virus on it, then touches their eyes, nose, or mouth.</p>
                    <div class="date">1 Apr 2020</div>
                    <div class="tags">
                      <div class="tag">Category</div>
                    </div>
                  </div>
                </a>
              </div>
            </section>
          </div>
          <div class="col-lg-4 text-center">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fweb.facebook.com%2Fnnuroapp&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1742440259106551" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
    </div>
</section>-->



<!-- <app-client></app-client>
<app-feature></app-feature>
<app-services></app-services>
<app-description></app-description>
<app-about></app-about>
<app-pricing></app-pricing>
<app-testi></app-testi>
<app-getstart></app-getstart>
<app-blog></app-blog>
<app-contact></app-contact> -->
<!--<app-news></app-news>-->


