  <section id="process" class="ryl-bg-light">
        <header class="ryl-section-header-style-2  ryl-bg-gray">
          <div class="container">
            <h3>Welcome To Nnuro</h3>
            <p>Your No.1 App and Web platform that aims to simplify and improve the efficiency of the pharmaceutical and medical supply chain, with the aim of ensuring the delivery of quality and affordable drugs and medical supplies.  </p>
            <hr/>
          </div>
          <div class="row margin-t-50">
          <div class="col-lg-6">
              <div class="text-center pricing-box">
                  <h4 class="text-uppercase">OUR MISSION </h4>
                  <!-- <h1>ICON</h1> -->
                  <div class="plan-features margin-t-10">
                    <p>To leverage on technology for positive health impact. </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="text-center pricing-box bg-white price-active">
                  <!-- <div class="ribbon-box"><span>Popular</span></div> -->
                  <h4 class="text-uppercase">OUR VISION </h4>
                  <!-- <h1>ICON</h1> -->
                  <div class="plan-features margin-t-10">
                      <p>Be the change and lead the adoption of technology in delivery of health services.</p>
                  </div>

              </div>
          </div>
      </div>
        </header>
        <div class="container ryl-section-item">
       <div class="container"> <h5 align="center">WHY CHOOSE US</h5></div>
          <div class="ryl-process-wrapper">
            <div id="ryl-process-list" class="ryl-process-style-2">
              <div class="ryl-process-item">
               <!--  <div class="ryl-icon"><i class="ryl-icon-super-square-1 icon-businessman170"></i></div>
                --><div class="ryl-line"></div>
                <div class="ryl-content">
                  <h5 class="ryl-bold-heading">MEMBER SUPPORT</h5>
                <!--  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
               --> </div>
              </div>
              <div class="ryl-process-item">
                <!-- <div class="ryl-icon"><i class="ryl-icon-super-square-1 icon-shopping159"></i></div>-->
                <div class="ryl-line"></div>
                <div class="ryl-content">
                  <h5 class="ryl-bold-heading">TRUSTED</h5>
                <!--  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
               -->                </div>
              </div>
              <div class="ryl-process-item">
               <!--  <div class="ryl-icon"><i class="ryl-icon-super-square-1 icon-talk2"></i></div>-->
                <div class="ryl-line"></div>
                <div class="ryl-content">
                  <h5 class="ryl-bold-heading">CONVENIENT</h5>
                <!--  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
               -->                </div>
              </div>
              <div class="ryl-process-item">
               <!--  <div class="ryl-icon"><i class="ryl-icon-super-square-1 icon-meeting1"></i></div>-->
                <div class="ryl-line"></div>
                <div class="ryl-content">
                  <h5 class="ryl-bold-heading">COMPETITIVE RATE</h5>
                <!--  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
               -->                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="container ryl-section-item text-center"><a href="/contact" class="ryl-btn-2">CONTACT NOW</a></div>-->
      </section>
      <section id="service" class="ryl-bg-light">
        <header class="ryl-section-header-style-2  ryl-bg-gray">
          <div class="container">
            <h5>OUR SERVICES</h5>
            <!--<p>We are a full service, general practice law firm</p>-->
            <hr/>
          </div>
        </header>
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 ryl-section-item">
              <div class="ryl-service-item">
                <div class="ryl-service-icon"><i class="ryl-icon-super-square-1 icon-law"></i></div>
                <h6 class="ryl-bold-heading">Wholesale & Retail</h6>
                <p>Wholesale & Retail in Pharmaceutical Distribution </p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 ryl-section-item">
              <div class="ryl-service-item">
                <div class="ryl-service-icon"><i class="ryl-icon-super-square-1 icon-2442"></i></div>
                <h6 class="ryl-bold-heading">Equipment & Supplies</h6>
                <p>Medical equipment and supplies distribution system.</p>
              </div>
            </div>
            <div class="col-xs-12 clearfix hidden-lg hidden-md"></div>
            <div class="col-md-3 col-sm-6 col-xs-12 ryl-section-item">
              <div class="ryl-service-item">
                <div class="ryl-service-icon"><i class="ryl-icon-super-square-1 icon-meeting1"></i></div>
                <h6 class="ryl-bold-heading">Technology Solutions</h6>
                <p>Healthcare technology solutions</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 ryl-section-item">
              <div class="ryl-service-item">
                <div class="ryl-service-icon"><i class="ryl-icon-super-square-1 icon-businessman170"></i></div>
                <h6 class="ryl-bold-heading">Business and Clinical Services</h6>
                <p>Business and clinical services for health providers</p>
              </div>
            </div>
                    <div class="container ryl-section-item text-center"><a href="/contact" class="ryl-btn-2">CONTACT NOW</a></div>

            <div class="clearfix"></div>
          </div>
        </div>
      </section>