<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark  sticky sticky-dark" id="navbar1" style="background-color: black;">
    <div class="container">
        <!-- LOGO -->
        <a class="navbar-brand" routerLink="/">
            <!-- <i class="mdi mdi-hospital"></i>NNURO -->
            <img src="./assets/images/nnlogo.png" alt="NNURO" width="90px;" />
        </a>

        <button class="navbar-toggler" (click)="toggleMenu()" type="button" id="menu_button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="mdi mdi-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse" scrollSpy>
            <ul class="navbar-nav navbar-center" id="mySidenav">
                <li class="nav-item">
                    <a data="" routerLink="/"  class="nav-link text-white">HOME</a>
                </li>
            
        
                <li class="nav-item">
                    <a data=""  routerLink="/formpage" class="nav-link text-white">WHOLESALERS</a>
                </li>
                 <li class="nav-item">
                    <a data="" routerLink="/ourproduct" class="nav-link text-white">OUR PRODUCTS</a>
                </li>
                <li class="nav-item">
                    <a data=""  routerLink="/news" class="nav-link text-white">NEWS</a>
                </li>
               <!-- <li class="nav-item">
                    <a data="" routerLink="/services" class="nav-link text-white">SERVICES</a>
                </li>-->
                <li class="nav-item">
                    <a data="" routerLink="/about" class="nav-link text-white">ABOUT</a>
                </li>
               
            </ul>
            <ul>
                
            </ul>
            
            <div class="nav-button ml-auto">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="form form-inline">
                            <input type="text" class="form-control mr-8" placeholder="Search" aria-label="Search" style="height: 40px !important;">
                          </form>
                    </li>
                    <li>
                        <a href="/login"><button type="button" class="btn btn-custom navbar-btn btn-rounded waves-effect waves-light">Login</button></a>
                    </li>
                     <li>
                        <a href="/register"><button type="button" class="btn btn-custom navbar-btn btn-rounded waves-effect waves-light">Register</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
