
<section>
<div class="container">

<!-- Card deck -->
<div class="card-deck row">

  <div class="col-xs-12 col-sm-6 col-md-4">
  <!-- Card -->
  <div class="card">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="assets/images/health.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Tobinco Pharmaceuticals</h4>
      <!--Text-->
      <p class="card-text">Coronavirus: Tobinco Pharmaceuticals donates medical supplies to Ministry of Health</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
    <a href= "https://www.ghanaweb.com/GhanaHomePage/NewsArchive/Coronavirus-Tobinco-Pharmaceuticals-donates-medical-supplies-to-Ministry-of-Health-907933?gallery=1" class="btn btn-light-blue btn-md">Read more</a>

    </div>

  </div>
  <!-- Card -->
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="assets/images/gono1.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Gonorrhoea researchers identify innovative vaccine, new antibiotic</h4>
      <!--Text-->
      <p class="card-text">Researchers have identified a protein that powers the virulence of the bacteria...</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a href= "http://www.moh.gov.gh/gonorrhoea-researchers-identify-innovative-vaccine-new-antibiotic/" class="btn btn-light-blue btn-md">Read more</a>

    </div>

  </div>
  <!-- Card -->
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="assets/images/mentalhealth.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">QualityRights in Mental Health – Ghana Project</h4>
      <!--Text-->
      <p class="card-text">The QualityRights initiative in Ghana, aims to strate...</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a href= "http://www.moh.gov.gh/qualityrights-in-mental-health-ghana-project/" class="btn btn-light-blue btn-md">Read more</a>

</div>
  </div>
  <!-- Card -->
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
  <!-- Card -->
  <div class="card">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="assets/images/endtb.png">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">World Tuberculosis Day 2020</h4>
      <!--Text-->
      <p class="card-text">Each year, we commemorate World Tuberculosis (TB) Day on March 24 to raise public awareness about the devastating health, social and economic consequences of TB, and to step up efforts to end the global TB epidemic....</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->

      <a href= "https://www.who.int/news-room/events/detail/2020/03/24/default-calendar/world-tuberculosis-day-2020" class="btn btn-light-blue btn-md">Read more</a>

    </div>

  </div>
  <!-- Card -->
</div>

<div class="col-xs-12 col-sm-3 col-md-4">
  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="assets/images/whd.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">World Health Day 2020</h4>
      <!--Text-->
      <p class="card-text">7 April 2020 is the day to celebrate the work of nurses and midwives and remind world leade...</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a href= "https://www.who.int/news-room/campaigns/world-health-day/world-health-day-2020" class="btn btn-light-blue btn-md">Read more</a>
    </div>

  </div>
  <!-- Card -->
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="assets/images/foodsafeone.png" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Four Steps to Food Safety: Clean, Separate, Cook, Chill</h4>
      <!--Text-->
      <p class="card-text">Following four simple steps can help protect you and your loved ones from food poisoning.

      Germs that cause food poisoning can survive in many places and spread around your kitchen...</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a href= "https://www.cdc.gov/foodsafety/keep-food-safe.html" class="btn btn-light-blue btn-md">Read more</a>

    </div>

  </div>
  <!-- Card -->
</div>



</div>
<!-- Card deck -->

</div>

</section>
