<div id="me">
<div class="container">
  <h2> Pharmaceutical Drugs </h2>
<form>
<div class="row row-margin-05">
    <div class="text-center col-md-4">
        <div class="mr-2 p-2 mb-2 bg-success text-white">Product Name</div>
    </div>
    <div class="text-center col-md-2">
        <div style="background-color: green" class="ml-2 p-2 mb-2 bg-success text-white">Quantity</div>
    </div>
     <div class="text-center col-md-2">
        <div style="background-color: green" class="ml-2 p-2 mb-2 bg-success text-white">Unit Price</div>
    </div>
     
</div>

<div class="row row-margin-10">
    <div class="text-center col-md-4">
        <div class="mr-2"><input size = "40"type="text"></div>
    </div>
    <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
     <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
    <input type="button" class="btn btn-success btn-xs" value="Add to list"/>
</div>

    <div class="row row-margin-10">
    <div class="text-center col-md-4">
        <div class="mr-2"><input size = "40"type="text"></div>
    </div>
    <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
     <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
    <input type="button" class="btn btn-success btn-xs" value="Add to list"/>
</div>

  <div class="row row-margin-10">
    <div class="text-center col-md-4">
        <div class="mr-2"><input size = "40"type="text"></div>
    </div>
    <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
     <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
    <input type="button" class="btn btn-success btn-xs" value="Add to list"/>
</div>

  <div class="row row-margin-10">
    <div class="text-center col-md-4">
        <div class="mr-2"><input size = "40"type="text"></div>
    </div>
    <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
     <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
    <input type="button" class="btn btn-success btn-xs" value="Add to list"/>
</div>

  <div class="row row-margin-10">
    <div class="text-center col-md-4">
        <div class="mr-2"><input size = "40"type="text"></div>
    </div>
    <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
     <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
    <input type="button" class="btn btn-success btn-xs" value="Add to list"/>
</div>

  <div class="row row-margin-10">
    <div class="text-center col-md-4">
        <div class="mr-2"><input size = "40"type="text"></div>
    </div>
    <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
     <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
    <input type="button" class="btn btn-success btn-xs" value="Add to list"/>
</div>

  <div class="row row-margin-10">
    <div class="text-center col-md-4">
        <div class="mr-2"><input size = "40"type="text"></div>
    </div>
    <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
     <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
    <input type="button" class="btn btn-success btn-xs" value="Add to list"/>
</div>

  <div class="row row-margin-10">
    <div class="text-center col-md-4">
        <div class="mr-2"><input size = "40"type="text"></div>
    </div>
    <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
     <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
    <input type="button" class="btn btn-success btn-xs" value="Add to list"/>
</div>

  <div class="row row-margin-10">
    <div class="text-center col-md-4">
        <div class="mr-2"><input size = "40"type="text"></div>
    </div>
    <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
     <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
    <input type="button" class="btn btn-success btn-xs" value="Add to list"/>
</div>

  <div class="row row-margin-10">
    <div class="text-center col-md-4">
        <div class="mr-2"><input size = "40"type="text"></div>
    </div>
    <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
     <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
    <input type="button" class="btn btn-success btn-xs" value="Add to list"/>
</div>

  <div class="row row-margin-10">
    <div class="text-center col-md-4">
        <div class="mr-2"><input size = "40"type="text"></div>
    </div>
    <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
     <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
    <input type="button" class="btn btn-success btn-xs" value="Add to list"/>
</div>

  <div class="row row-margin-10">
    <div class="text-center col-md-4">
        <div class="mr-2"><input size = "40"type="text"></div>
    </div>
    <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
     <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
    <input type="button" class="btn btn-success btn-xs" value="Add to list"/>
</div>

  <div class="row row-margin-10">
    <div class="text-center col-md-4">
        <div class="mr-2"><input size = "40"type="text"></div>
    </div>
    <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
     <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
    <input type="button" class="btn btn-success btn-xs" value="Add to list"/>
</div>

</form>
</div>


<hr>

<h2 style="color: black text-center"> Equipments/Consumables</h2>

<div class="row row-margin-10">
    <div class="text-center col-md-4">
        <div class="mr-2"><input size = "40"type="text"></div>
    </div>
    <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
     <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
    <input type="button" class="btn btn-success btn-xs" value="Add to list"/>
</div>
<div class="row row-margin-10">
    <div class="text-center col-md-4">
        <div class="mr-2"><input size = "40"type="text"></div>
    </div>
    <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
     <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
    <input type="button" class="btn btn-success btn-xs" value="Add to list"/>
</div>
<div class="row row-margin-10">
    <div class="text-center col-md-4">
        <div class="mr-2"><input size = "40"type="text"></div>
    </div>
    <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
     <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
    <input type="button" class="btn btn-success btn-xs" value="Add to list"/>
</div>
<div class="row row-margin-10">
    <div class="text-center col-md-4">
        <div class="mr-2"><input size = "40"type="text"></div>
    </div>
    <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
     <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
    <input type="button" class="btn btn-success btn-xs" value="Add to list"/>
</div>
<div class="row row-margin-10">
    <div class="text-center col-md-4">
        <div class="mr-2"><input size = "40"type="text"></div>
    </div>
    <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
     <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
    <input type="button" class="btn btn-success btn-xs" value="Add to list"/>
</div>
<div class="row row-margin-10">
    <div class="text-center col-md-4">
        <div class="mr-2"><input size = "40"type="text"></div>
    </div>
    <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
     <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
    <input type="button" class="btn btn-success btn-xs" value="Add to list"/>
</div>
<div class="row row-margin-10">
    <div class="text-center col-md-4">
        <div class="mr-2"><input size = "40"type="text"></div>
    </div>
    <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
     <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
    <input type="button" class="btn btn-success btn-xs" value="Add to list"/>
</div>
<div class="row row-margin-10">
    <div class="text-center col-md-4">
        <div class="mr-2"><input size = "40"type="text"></div>
    </div>
    <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
     <div class="text-center col-md-2">
        <div class="ml-2"><input size = "16"type="text"></div>
    </div>
    <input type="button" class="btn btn-success btn-xs" value="Add to list"/>
</div>

</div>
