.row-margin-05 { margin-top: 0.5em; }
.row-margin-10 { margin-top: 1.0em; }
.row-margin-20 { margin-top: 2.0em; }
.row-margin-30 { margin-top: 3.0em; }

.btn {
    width:100px;
    padding:5px;
    height:33px;
}

hr { background-color:white; display: block; margin-before: 0.5em; margin-after: 0.5em; margin-start: auto; margin-end: auto; overflow: hidden; border-style: inset; border-width: 1px;}


#me { 
 
   background-attachment:fixed;
    background-color:none;
    background-image: linear-gradient(to bottom, rgb(50,205,50,0) 0%,rgb(50,205,50,0) 75%,rgb(50,205,50,1) 100%), url('/assets/images/blue.jpg');
    background-position:top center;
    background-repeat:no-repeat;
    background-size:100% auto;
    background-blend-mode: lighten;
}