<section class="section" id="about">
  <div class="container">
  <div style="text-align:center">
    <h2>COVID-19</h2>
    <p>Coronavirus disease (COVID-19) is an infectious disease caused by a new virus.
The disease causes respiratory illness (like the flu) with symptoms such as a cough, fever, and in more severe cases, difficulty breathing. You can protect yourself by washing your hands frequently, avoiding touching your face, and avoiding close contact (1 meter or 3 feet) with people who are unwell.</p>
  </div>
</div>
 </section>

<section class="cards-wrapper">
  <div class="card-grid-space">
    <div class="num">01</div>
    <a class="card" href="https://www.who.int/health-topics/coronavirus#tab=tab_1" style="--bg-img: url(assets/images/covid.jpg)">
      <div>
        <h1>COVID-19</h1>
        <p>Coronavirus disease spreads primarily through contact with an infected person when they cough or sneeze. It also spreads when a person touches a surface or object that has the virus on it, then touches their eyes, nose, or mouth.</p>
        <div class="date">1 Apr 2020</div>
        <div class="tags">
          <div class="tag">Category</div>
        </div>
      </div>
    </a>
  </div>
  <div class="card-grid-space">
    <div class="num">02</div>
    <a class="card" href="https://globalhandwashing.org/resources/" style="--bg-img: url(assets/images/covidthree.jpg)">
      <div>
        <h1>#Wash your Hands</h1>
        <p></p>
        <div class="date">1 Apr 2020</div>
        <div class="tags">
          <div class="tag">Category</div>
        </div>
      </div>
    </a>
  </div>
  <div class="card-grid-space">
    <div class="num">03</div>
    <a class="card" href="https://www.theguardian.com/world/2020/mar/25/doctors-coronavirus-pandemic-stories" style="--bg-img: url(assets/images/covidtwo.jpg)">
      <div>
        <h1>#Stay Home so Doctors go to work</h1>
        <p>Observe all protocols…</p>
        <div class="date">1 Apr 2020</div>
        <div class="tags">
          <div class="tag">Category</div>
        </div>
      </div>
    </a>
  </div>
  <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
</section>




