
<section class="section section-lg bg-get-start">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h1 class="get-started-title text-white">THE  FUTURE OF DIGITAL HEALTH CARE</h1>
                <div class="section-title-border margin-t-20 bg-white"></div>
                <!--<p class="section-subtitle font-secondary text-white text-center padding-t-30">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
                <a routerLink="/contact" class="btn btn-bg-white waves-effect margin-t-20">Contact Us <i class="mdi mdi-arrow-right"></i> </a>
            </div>
        </div>
    </div>
</section>
<div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/images/products/pharma.jpg" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light"></h1>
        <p>Short discription about Nnuro Pharma</p>
        <a class="btn btn-outline-dark" routerLink="/nnuropharma">More</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <p class="text-white m-0">Our team gives you the opportunity</p>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title"></h2>
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/images/products/insurance.jpg" alt="">
            <p class="card-text">Short discription about Nnuro</p>
          </div>
          <div class="card-footer">
            <a routerLink="/insurance" class="btn btn-outline-dark btn-sm">More</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title"></h2>
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/images/products/hospital.jpg" alt="">
            <p class="card-text">Short discription about Nnuro Hospital</p>
          </div>
          <div class="card-footer">
            <a routerLink="/nnurohospitals" class="btn btn-outline-dark btn-sm">More</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title"></h2>
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/images/products/hr.jpg" alt="">
            <p class="card-text">Short discription about Nnuro HR</p>
          </div>
          <div class="card-footer">
            <a routerLink="/nnurohr" class="btn btn-outline-dark btn-sm">More</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

  </div>

  