<section class="section" id="home">
  <div class="row">
    <div class="col-lg-12" style="padding-right: 0 !important;">
      <ngb-carousel
      [showNavigationArrows]="true"
      [showNavigationIndicators]="true"
      interval="12000"
      [keyboard]="true"
      [pauseOnHover]="false"
          [wrap]="true"
          [activeId]="'secondSlide'"
          >
            <ng-template ngbSlide>
              <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="product-card">
                    <div class="badge">Hot</div>
                    <div class="product-tumb">
                        <img src="assets/images/products/product-1.jpg" alt="">
                    </div>
                    <div class="product-details">
                        <h5><a href="">Electric Toothbrush Kit</a></h5>
                        <div class="product-bottom-details">
                            <div class="product-price">
                                <small>₵96.00</small>
                                ₵230.99</div>
                            <div class="product-links">
                                <a href=""><i class="fa fa-heart fa-2x"></i></a>
                                <a href=""><i class="fa fa-shopping-cart fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-card">
                    <div class="badge">Hot</div>
                    <div class="product-tumb">
                        <img src="assets/images/products/product-6.jpg" alt="">
                    </div>
                    <div class="product-details">
                        <h5><a href="">Oral Care System</a></h5>
                        <div class="product-bottom-details">
                            <div class="product-price">
                                <small>₵96.00</small>
                                ₵230.99</div>
                            <div class="product-links">
                                <a href=""><i class="fa fa-heart fa-2x"></i></a>
                                <a href=""><i class="fa fa-shopping-cart fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-card">
                    <div class="badge">Hot</div>
                    <div class="product-tumb">
                        <img src="assets/images/products/product-7.jpg" alt="">
                    </div>
                    <div class="product-details">
                        <h5><a href="">Multi-Protection Mouthwash</a></h5>
                        <div class="product-bottom-details">
                            <div class="product-price">
                                <small>₵96.00</small>
                                ₵230.99</div>
                            <div class="product-links">
                                <a href=""><i class="fa fa-heart fa-2x"></i></a>
                                <a href=""><i class="fa fa-shopping-cart fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-card">
                    <div class="badge">Hot</div>
                    <div class="product-tumb">
                        <img src="assets/images/products/product-1.jpg" alt="">
                    </div>
                    <div class="product-details">
                        <h5><a href="">Electric Toothbrush Kit</a></h5>
                        <div class="product-bottom-details">
                            <div class="product-price">
                                <small>₵96.00</small>
                                ₵230.99</div>
                            <div class="product-links">
                                <a href=""><i class="fa fa-heart fa-2x"></i></a>
                                <a href=""><i class="fa fa-shopping-cart fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
              <div class="carousel-caption">
                <!-- <h3>Slider One Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="product-card">
                    <div class="badge">Hot</div>
                    <div class="product-tumb">
                        <img src="assets/images/products/product-1.jpg" alt="">
                    </div>
                    <div class="product-details">
                        <h5><a href="">Electric Toothbrush Kit</a></h5>
                        <div class="product-bottom-details">
                            <div class="product-price">
                                <small>₵96.00</small>
                                ₵230.99</div>
                            <div class="product-links">
                                <a href=""><i class="fa fa-heart fa-2x"></i></a>
                                <a href=""><i class="fa fa-shopping-cart fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-card">
                    <div class="badge">Hot</div>
                    <div class="product-tumb">
                        <img src="assets/images/products/product-6.jpg" alt="">
                    </div>
                    <div class="product-details">
                        <h5><a href="">Oral Care System</a></h5>
                        <div class="product-bottom-details">
                            <div class="product-price">
                                <small>₵96.00</small>
                                ₵230.99</div>
                            <div class="product-links">
                                <a href=""><i class="fa fa-heart fa-2x"></i></a>
                                <a href=""><i class="fa fa-shopping-cart fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-card">
                    <div class="badge">Hot</div>
                    <div class="product-tumb">
                        <img src="assets/images/products/product-7.jpg" alt="">
                    </div>
                    <div class="product-details">
                        <h5><a href="">Multi-Protection Mouthwash</a></h5>
                        <div class="product-bottom-details">
                            <div class="product-price">
                                <small>₵96.00</small>
                                ₵230.99</div>
                            <div class="product-links">
                                <a href=""><i class="fa fa-heart fa-2x"></i></a>
                                <a href=""><i class="fa fa-shopping-cart fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-card">
                    <div class="badge">Hot</div>
                    <div class="product-tumb">
                        <img src="assets/images/products/product-1.jpg" alt="">
                    </div>
                    <div class="product-details">
                        <h5><a href="">Electric Toothbrush Kit</a></h5>
                        <div class="product-bottom-details">
                            <div class="product-price">
                                <small>₵96.00</small>
                                ₵230.99</div>
                            <div class="product-links">
                                <a href=""><i class="fa fa-heart fa-2x"></i></a>
                                <a href=""><i class="fa fa-shopping-cart fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
              <div class="carousel-caption">
                <!-- <h3>Slider Two Title</h3>
                <p>Consectetur tortor volutpat pretium.</p> -->
              </div>
            </ng-template>
        </ngb-carousel>
      </div>
    </div>
 </section>

<div class="col-lg-8 offset-lg-2 margin-t-50">
                <h1 class="text-seagreen" align="center">Our Partners</h1>
            </div>
<section class="section" id="home">
  <div class="row">
  
    <div class="col-lg-12" style="padding-right: 0 !important;">
      <ngb-carousel
      [showNavigationArrows]="true"
      [showNavigationIndicators]="true"
      interval="12000"
      [keyboard]="true"
      [pauseOnHover]="false"
          [wrap]="true"
          [activeId]="'secondSlide'">
          
            <ng-template ngbSlide>
              <div class="container">
              <div class="row">
                  <div class="col-md-3">
                      <div class="client-images my-3 my-md-0">
                          <img src="assets/images/clients/1.png" alt="logo-img" class="mx-auto img-fluid d-block">
                      </div>
                  </div>

                  <div class="col-md-3">
                      <div class="client-images my-3 my-md-0">
                          <img src="assets/images/clients/2.png" alt="logo-img" class="mx-auto img-fluid d-block">
                      </div>
                  </div>

                  <div class="col-md-3 ">
                      <div class="client-images my-3 my-md-0">
                          <img src="assets/images/clients/3.png" alt="logo-img" class="mx-auto img-fluid d-block">
                      </div>
                  </div>

                  <div class="col-md-3">
                      <div class="client-images my-3 my-md-0">
                          <img src="assets/images/clients/1.png" alt="logo-img" class="mx-auto img-fluid d-block">
                      </div>
                  </div>
              </div>
          </div>
              <div class="carousel-caption">
                <!-- <h3>Slider One Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="container">
              <div class="row">
                  <div class="col-md-3">
                      <div class="client-images my-3 my-md-0">
                          <img src="assets/images/clients/1.png" alt="logo-img" class="mx-auto img-fluid d-block">
                      </div>
                  </div>

                  <div class="col-md-3">
                      <div class="client-images my-3 my-md-0">
                          <img src="assets/images/clients/2.png" alt="logo-img" class="mx-auto img-fluid d-block">
                      </div>
                  </div>

                  <div class="col-md-3 ">
                      <div class="client-images my-3 my-md-0">
                          <img src="assets/images/clients/4.png" alt="logo-img" class="mx-auto img-fluid d-block">
                      </div>
                  </div>

                  <div class="col-md-3">
                      <div class="client-images my-3 my-md-0">
                          <img src="assets/images/clients/3.png" alt="logo-img" class="mx-auto img-fluid d-block">
                      </div>
                  </div>
              </div>
          </div>
              <div class="carousel-caption">
                <!-- <h3>Slider Two Title</h3>
                <p>Consectetur tortor volutpat pretium.</p> -->
              </div>
            </ng-template>
        </ngb-carousel>
      </div>
    </div>
 </section>


<section class="bg-green pt-6 pb-7 text-seagreen">
<div class="row mb-7 text-light">
     <div class="col-md-7 offset-md-1 mt-2">
     <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
<span class="sr-only">Loading...</span>
     <h2 class="font-size-25" align="center-left">
        Welcome To Nnuro
       </h2>
      <p class="font-size-15">
       Your No.1 App and Web platform that aims to simplify and improve the efficiency of the pharmaceutical and medical supply chain, with the aim of ensuring the delivery of quality and affordable drugs and medical supplies.
      </p>
      <div>
     <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
<span class="sr-only">Loading...</span>
      <h2 class="font-size-25">
        OUR MISSION
       </h2>
       <p class="font-size-15">
        To leverage on technology for positive health impact.
       </p>
      </div>
      <div>
     <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
<span class="sr-only">Loading...</span>
      <h2 class="font-size-25">
        OUR VISION
       </h2>
       <p class="font-size-15">
        Be the change and lead the adoption of technology in delivery of health services.
       </p>
      </div>
     </div>
     <div class="col-md-3 mt-0 text-white text-center">
      <div>
       <h2 class="font-size-25">
        DRUG FINDER
       </h2>
      </div>
      <div class="container">
  <div class="row">
    <div class="col-sm">
     
    </div>
  </div>
</div>
      <form>
      <div class="form-group">
          <small id="emailHelp" class="form-text text-muted">Hello Nnuro help me find.</small>
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name of Drug" >
  </div>
   <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Phone Number">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <!--<div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>-->
  <div class="form-check">
  </div>
  <button type="submit" class="btn btn-primary" align="left">Submit</button>
</form>

     </div>
    </div>
</section>

<section class="bg-white pt-6 pb-7 text-seagreen">
   <div class="container ">
    <div class="row mb-6">
     <div class="col-md-3 mt-0">
      <h2 class="font-size-30">
       WHY CHOOSE US
      </h2>
     </div>
     <div class="col-md-3 mt-0">
      <h2 class="font-size-30">
      <br>
      </h2>
     </div>
    </div>
    <div class="row mb-0 text-success">
     <div class="col-lg-3 col-xs-6 mb-3 mb-lg-0 mt-0">
      <div class="text-right">
       <img alt="" class="mw-100" src="assets/images/home/267076.png">
      </div>
      <div class="text-center">
       <h4 class="font-size-14">
        MEMBER SUPPORT
       </h4>
      </div>
     </div>
     <div class="col-lg-2 col-xs-6 mb-3 mb-lg-0 offset-lg-1 mt-0">
      <div class="text-right">
       <img alt="" class="mw-100" src="assets/images/home/419548.png">
      </div>
      <div class="text-center">
       <h4 class="font-size-14">
        TRUSTED
       </h4>
      </div>
     </div>
     <div class="col-lg-2 col-xs-6 mb-3 mb-lg-0 offset-lg-1 mt-0 text-right text-forestgreen">
      <img alt="" class="mw-100 text-right" src="assets/images/home/556386.png">
      <div class="text-success text-center">
       <h4 class="font-size-14">
        CONVENIENT
       </h4>
      </div>
     </div>
     <div class="col-lg-3 col-xs-6 mb-3 mb-lg-0 mt-1">
      <div class="text-right">
       <img alt="" class="mw-100" src="assets/images/home/654696.png">
      </div>
      <div class="text-center">
       <h4 class="font-size-14">
        COMPETITIVE RATE
       </h4>
      </div>
     </div>
    </div>
   </div>
  </section>
<section class="bg-green pt-6 pb-7 text-seagreen">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 margin-t-50">
                <h1 class="section-title text-center">Our Services</h1>
            </div>
        </div>
        <div class="row margin-t-30">
            <div class="col-lg-3 margin-t-20">
                <div class="services-box">
                    <div class="media">
                        <i class="pe-7s-cart text-custom"></i>
                        <div class="media-body ml-4">
                            <h4>Wholesale &amp; Retail</h4>
                            <p class="pt-2 text-muted">Wholesale &amp; Retail in Pharmaceutical Distribution </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 margin-t-20">
                <div class="services-box">
                    <div class="media">
                        <i class="pe-7s-bandaid text-custom"></i>
                        <div class="media-body ml-4">
                            <h4>Equipment &amp; Supplies</h4>
                            <p class="pt-2 text-muted"> Medical equipment and supplies distribution system.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 margin-t-20">
                <div class="services-box">
                    <div class="media">
                        <i class="pe-7s-display1 text-custom"></i>
                        <div class="media-body ml-4">
                            <h4>Technology Solutions</h4>
                            <p class="pt-2 text-muted">Healthcare technology solutions</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 margin-t-20">
                <div class="services-box">
                    <div class="media">
                        <i class="pe-7s-note2 text-custom"></i>
                        <div class="media-body ml-4">
                            <h4>Business and Clinical Services</h4>
                            <p class="pt-2 text-muted">Business and clinical services for health providers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 
  